<?xml version="1.0"?>
<robot name="sphere">
    <link name="psi_link">
        <visual><geometry><sphere radius=".01"/></geometry></visual>
        <collision><geometry><sphere radius=".005"/></geometry></collision>
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="1"/>
            <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1"  iyz="0.0" izz="0.1"/>
        </inertial>
    </link>
</robot>
